{% block head_extra %}
	{{ block.super }}
    <style type="text/css">
    
    .horizontal-form { margin: 0 0 15px 0; }
    
        .horizontal-form dl { margin: 0; }
        
            .horizontal-form dl dt { }
        
                .horizontal-form dl dt label { font-weight: bold; color: #333;  font-size: 11px; }
        
            .horizontal-form dl dd { margin-left: 0; }
            
                .horizontal-form dl dd input { margin: 0 0 .5em 0; }
    
    </style>
	<script type="text/javascript" src="/media/js/core.js"></script>
	<script type="text/javascript" src="/media/js/urlify.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('.title-field').keyup(function(){
				$(this).siblings('.slug-field:first').val(URLify(this.value, 50));
			});
		});
	</script>
    
{% endblock %}

{% block content %}
	{% for form in forms %}
    <div class="horizontal-form">
	<form enctype="multipart/form-data" method="post" action="{% url shoebox_manage_new_upload %}">
        <dl class="clearfix">
            
            {{ form.file.errors }}
            
            <dt>
                <label>File:</label>
            </dt>
            <dd>
                {{ form.file }}
            </dd>
            
            <dt>
                <label>Title:</label>
            </dt>
            <dd>
                {{ form.title }}
            </dd>
            
            <dt>
                <label>Slug:</label>
            </dt>
            <dd>
                {{ form.slug }}
            </dd>
        
        </dl>
    	<input type="submit" value="Save" />
	</form>
    </div>
	{% endfor %}
	
	<a href="{% url shoebox_index %}">Upload more files</a>
{% endblock %}