{% extends "base.html" %}

{% block head_extra %}
	{{ block.super }}
	
	<script type="text/javascript" src="/media/js/core.js"></script>
	<script type="text/javascript" src="/media/js/urlify.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('.title-field').keyup(function(){
				$(this).siblings('.slug-field:first').val(URLify(this.value, 50));
			});
		});
	</script>
{% endblock %}

{% block content %}
	{% for form in forms %}
	<form enctype="multipart/form-data" method="post" action="{% url shoebox_manage_new_upload %}">
		{{ form.file.errors }}
		File: {{ form.file }}
		Title: {{ form.title }} 
		Slug: {{ form.slug }}
		<input type="submit" value="Save" />
	</form>
	{% endfor %}
	
	<a href="{% url shoebox_index %}">Upload more files</a>
{% endblock %}