{% extends "shoebox/base.html" %}

{% load uploadify_tags %}

{% block title %}Home - Shoebox{% endblock %}

{% block content %}

	<h1 class="title">Hello, I'm Shoebox!</h1>
	 <div class="main-item">
        <h2>Upload</h2>
        <div class="inner">
            
            {% multi_file_upload '/shoebox/new_uploads/' %}
            
        </div>
    </div>
    <div class="main-item">
        <h2><a href="/shoebox/images">Latest images</a></h2>
        <div class="inner latest-images">
            
        {% for image in latest_images|slice:":10" %}
            <a href="{% url shoebox_manage_item 'image' image.id %}" alt="{{ image.title }}" title="{{ image.title }}">
                <img src="{{ image.get_square_thumbnail_url }}" />
            </a>
        {% endfor %}
        
        </div>
    </div>
    
{% endblock %}