{% extends "base.html" %}

{% load uploadify_tags %}

{% block head_extra %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
{% endblock %}

{% block title %}Shoebox Index{% endblock %}

{% block content %}
	<h1>Hello Shoebox!</h1>
	
	{% multi_file_upload '/shoebox/new_uploads/' %}
	
	<h3>Latest images:</h3>
	
	<ul>
	{% for image in latest_images %}
		<li>
			<a href="{% url shoebox_manage_item 'image' image.id %}"><img src="{{ image.get_thumbnail_url }}" /></a>
			<caption>{{ image.title }}</caption>
		</li>
	{% endfor %}
	</ul>
{% endblock %}