{% extends "base.html" %}

{% block title %}{{ block.super }}Shoebox{% endblock %}

{% block head_extra %}
	{{ block.super }}
	<style type="text/css">
		div {
			padding: 10px;
		}
		
		.center {
			margin: auto;
			width: 70%;
		}
		
		#search-box {
			width: 500px;
		}
	</style>
	
	<script type="text/javascript">
		function search(search) {
			$.ajax({
		  		url: '{% url shoebox_image_search %}?q=' + search,
		  		success: function(data) {
		    		$('#images').html(data);
		  		}
			});
		}
	</script>
{% endblock %}

{% block content %}
<div id="search-container" class="center">
	<form method="get" action="{% url shoebox_image_search %}" >
	<label for="search-box">Search:</label>
	<input id="search-box" name="q" type="text" onkeyup="search(this.value); return false;"/>
	<input type="submit" value="search" />
</div>

<div id="images">
{% for image in images %}
	<a href="{% url shoebox_manage_item 'image' image.id %}"><img src="{{ image.get_thumbnail_url }}" /></a>
	<p>{{ image.title }}</p>
{% endfor %}
</div>
{% endblock %}
